* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 70px;
}

canvas {
    border: 2px solid #777;
    background-color: #fff;
}

h1 {
    color: #333;
}

.editor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display: none;
    margin-top: 50px;
}

.meme-canvas {
    margin-right: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-decrease-font,
.btn-increase-font,
.color-input {
    height: 35px;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.download-btn,
.select-another-meme-btn {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.select-another-meme-btn {
    background-color: #517397;
    cursor: pointer;
}

.content {
    padding-top: 70px;
    overflow-y: auto; /* Only this part will scroll */
    height: calc(100vh - 70px);
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.gallery-container img {
    width: calc(20% - 10px); /* 5 images per row on desktop */
    height: auto;
    object-fit: contain;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.editor,
.header {
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: auto;
}

.gallery-container img,
.meme-canvas {
    max-width: 100%;
    height: auto;
}

/* --------------------------------- Header --------------------------------- */

html,
body,
ul {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures it's above other content */
}

.header .container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #003366;
}

/* ----------------------------- Resolution Responsiveness ----------------------------- */

@media (max-width: 1200px) {
    .gallery-container img {
        width: calc(25% - 10px); /* 4 images per row */
    }
}

@media (max-width: 992px) {
    .gallery-container img {
        width: calc(33.333% - 10px); /* 3 images per row */
    }
    .editor,
    .meme-canvas,
    .controls {
        margin-right: 0;
        width: 100%;
        max-width: none;
    }
    .editor {
        flex-direction: column;
        align-items: flex-start;
    }
    .meme-canvas {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .gallery-container img {
        width: calc(50% - 10px); /* 2 images per row */
    }
}

/* -------------------------- Ratio Responsiveness -------------------------- */

@media screen and (max-aspect-ratio: 1/1) {
    .editor,
    .meme-canvas,
    .controls {
        margin-right: 0;
        width: 100%;
        max-width: none;
    }
    .editor {
        flex-direction: column;
        align-items: flex-start;
    }
    .meme-canvas {
        margin-bottom: 20px;
    }
}
